<body>
  <ion-header class="barradenavegacion2">
    <!-- Icono de menu-->
    <ion-icon name="chevron-back-sharp"></ion-icon>
      
    <!-- discover -->
    <ion-title>
      <h3>REPRODUCIENDO DESDE PLAYLIST</h3>
      <h2>"RECOMENDADO PARA TI"</h2>
    </ion-title>

    <!-- Icono de elipses -->
    <ion-label>
      <ion-icon name="ellipsis-vertical"></ion-icon>
    </ion-label>
      
</ion-header>


<ion-label>


    <ion-card class="album-card2">
      <ion-img src="https://p16-sg.tiktokcdn.com/aweme/200x200/tos-alisg-v-2774/c6c00d2d6c474c7485922754d697d330.jpeg"></ion-img>
    </ion-card>
    
  <!-- Controles de reproducción -->
  <ion-row class="controls-row">
    <ion-col size="1">
      <!-- Icono de aleatorio -->
      <ion-icon name="shuffle"></ion-icon>
    </ion-col>

    <ion-col size="1">
      <!-- Icono de retroceso -->
      <ion-icon name="play-skip-back-sharp"></ion-icon>
    </ion-col>

    <ion-col size="1">
      <!-- Icono de reproducción/pausa -->
      <ion-icon name="play"></ion-icon>
    </ion-col>

    <ion-col size="1">
      <!-- Icono de siguiente -->
      <ion-icon name="play-skip-forward-sharp"></ion-icon>
    </ion-col>

    <ion-col size="1">
      <!-- Icono de me gusta -->
      <ion-icon name="heart"></ion-icon>
    </ion-col>
  </ion-row>

  <!-- Nombre de la canción -->
    <ion-title class="titulo">
      <h3>Ansiedades</h3>
      <h2>Mora</h2>
    </ion-title>
</ion-label>

 <!-- Barra de progreso del tiempo de reproducción -->
      <ion-range class="progress-bar"></ion-range>

      <!-- Tiempo transcurrido y tiempo total de la canción -->
      <ion-row class="time-row">
        <ion-col size="3">0:00</ion-col>
        <ion-col size="6"></ion-col>
        <ion-col size="3">3:30</ion-col>
      </ion-row>



</body>